<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-buttons>
        <ion-buttons>
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="info">
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="info.additionalUserInfo.profile.profile_image_url_https">
      </ion-avatar>
      <ion-label>@{{info.additionalUserInfo.username}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>{{info.additionalUserInfo.profile.name}}</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Followers</ion-label>
        <ion-note slot="end">{{info.additionalUserInfo.profile.followers_count}}</ion-note>
    </ion-item>
    <ion-item>
        <ion-label>Following</ion-label>
        <ion-note slot="end">{{info.additionalUserInfo.profile.friends_count}}</ion-note>
    </ion-item>
    <ion-item>
        <ion-label>Tweets</ion-label>
        <ion-note slot="end">{{info.additionalUserInfo.profile.statuses_count}}</ion-note>
    </ion-item>
    <ion-item>
        <ion-label>Likes</ion-label>
        <ion-note slot="end">{{info.additionalUserInfo.profile.favourites_count}}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
